$dark-green: #192f2d;

.decorations {
  width: 100%;
  background-color: $dark-green;
  display: flex;
}

.filters_container{
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 2px solid #3ddfd1;
}

.decoration_items_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70%;
  border: 2px solid #3ddfd1;
}
