$dark-green: #192f2d;

.decorations {
  width: 100%;
  background-color: $dark-green;
  display: flex;
}

.filters_container{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.decoration_items_container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.no-toys {
  padding: 30px;
  margin-left: 50px;
  color: white;
  font-size: 24px;
}
