.sorter_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 1rem;
  margin-bottom: 0;
}

.filter_titles {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: white;
  margin: 0.2rem;
  text-transform: uppercase;
}

.sorter_input {
  color: white;
  padding: 0.1rem;
  width: 60%;
  background: radial-gradient(
    118.88% 606.86% at 0% 0%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(157, 243, 255, 0.2) 100%
  );
  backdrop-filter: blur(31px);
  border-radius: 30px;
  margin: 0.2rem;
}

.sorter_input_value {
  font-size: 1rem;
  color: $dark-green;
  font-family: Neucha;
}

.filter_item_container {
  margin: 0 1rem;
}

.filter_shape,
.filter_quantity,
.filter_year {
  display: flex;
  flex-direction: column;
  margin: 0.3rem 0;
}

.container-for-filters{
  width: 100%;
  display: flex;
  margin: 1rem 0;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem 0;
}

.shape_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.3rem;
}

.img_shape {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0.5rem;
}

.filter_text{
  color: white;
  font-family: Neucha;
  font-size: 1rem;
  margin: 0.5rem;
}

.img_shape:hover{
  opacity: 0.6;
  cursor: pointer;
}

.active {
  filter: invert(57%) sepia(18%) saturate(676%) hue-rotate(356deg) brightness(90%) contrast(82%);
}

.колокольчик{
  background-image: url("./assets/shape/bell.png");
}

.шишка{
  background-image: url('./assets/shape/pine.png');
}

.шар{
  background-image: url('./assets/shape/ball.png');
}

.снежинка{
  background-image: url('./assets/shape/snowflake.png');
}

.фигурка{
  background-image: url('./assets/shape/bird_toy.png');
}

.filter_color{
display: flex;
flex-direction: column;
margin: 0.3rem 0;
}

.color{
width: 25px;
height: 25px;
border-radius: 5px;
margin-right: 1rem;
border: 4px solid transparent;
}

.color:hover{
  cursor: pointer;
  opacity: 0.6;
}

.color-active{
  border: 4px solid #8f8604;
}

.white{
  background-color: white;
}

.yellow{
  background-color: yellow;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}

.filter_size {
  margin: 0.3rem 0;
  & label{
    margin-right: 1.2rem;
  }
}

.size {
  background-image: url(./assets/svg/ball.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1.2rem;
}

.size:hover {
  cursor: pointer;
  opacity: 0.6;
}

.big{
  width: 40px;
  height: 40px;
}

.middle{
  width: 30px;
  height: 30px;
}

.small{
  width: 20px;
  height: 20px;
}

.favourite-toys{
  text-transform: uppercase;
  margin: 1.5rem 0;
}

.container{
  position: relative;
  pointer-events: none;
}

.container input[type="range"]{
  height: 2em;
  display: block;
  margin: 0;
}

.container input[type="range"]:last-child{
  margin-top: -2em;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
}
input[type="range"]::-moz-range-thumb {
  pointer-events: all;
}
input[type="range"]::-ms-thumb {
  pointer-events: all;
}

.reset_button {
  color: white;
  font-size: 1rem;
  line-height: 1.7rem;
  padding: 0.2rem 1rem;
  background: radial-gradient(
    118.88% 606.86% at 0% 0%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(157, 243, 255, 0.2) 100%
  );
  backdrop-filter: blur(31px);
  border-radius: 30px;
  margin: 0.2rem;
}

.reset_button:hover {
  cursor: pointer;
  opacity: 0.6;
  color: $dark-green;
}
