.sorter_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 1rem;
}

.filter_titles {
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: white;
  margin: 0.2rem;
  text-transform: uppercase;
}

.sorter_input {
  color: white;
  padding: 0.1rem;
  width: 60%;
  background: radial-gradient(
    118.88% 606.86% at 0% 0%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(157, 243, 255, 0.2) 100%
  );
  backdrop-filter: blur(31px);
  border-radius: 30px;
  margin: 0.2rem;
}

.sorter_input_value {
  font-size: 1rem;
  color: $dark-green;
  font-family: Neucha;
}

.filter_item_container {
  margin: 1rem;
}

.filter_shape{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  margin-bottom: 3rem;
}

.shape_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img_shape {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0.5rem;
}

.filter_text{
  color: white;
  font-family: Neucha;
  font-size: 1rem;
  margin: 0.5rem;
}

.bell{
  background-image: url("./assets/shape/bell.png");
}

.pine{
  background-image: url('./assets/shape/pine.png');
}

.ball{
  background-image: url('./assets/shape/ball.png');
}

.snowflake{
  background-image: url('./assets/shape/snowflake.png');
}

.bird-toy{
  background-image: url('./assets/shape/bird_toy.png');
}

.filter_color{
display: flex;
margin: 1rem 0;
margin-bottom: 3rem;
}

.color{
width: 25px;
height: 25px;
border-radius: 5px;
margin-right: 1rem;
}

.white{
  background-color: white;
}

.yellow{
  background-color: yellow;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}

.filter_size {
  margin: 1rem 0;
  & label{
    margin-right: 1.2rem;
  }
}

.favourite-toys{
  text-transform: uppercase;
  margin: 2.5rem 0;
}

.container{
  position: relative;
  pointer-events: none;
}

.container input[type="range"]{
  height: 2em;
  display: block;
  margin: 0;
}

.container input[type="range"]:last-child{
  margin-top: -2em;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
}
input[type="range"]::-moz-range-thumb {
  pointer-events: all;
}
input[type="range"]::-ms-thumb {
  pointer-events: all;
}
