.garland-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.settings-garland {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0.1rem;
  margin-right: 1rem;
}
.garland-multi {
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8
  );
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
    #ccc 0 2px 12px;
}

.garland-yellow {
  background-color: yellow;
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #808002 0 -1px 9px,
    #ff0 0 2px 12px;
}

.garland-red {
  background-color: red;
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
    rgb(255 0 0 / 50%) 0 2px 12px;
}

.garland-blue {
  background-color: #11c8e4;
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #006 0 -1px 9px,
    #3f8cff 0 2px 14px;
}

.garland-green {
  background-color: #259b01;
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #304701 0 -1px 9px,
    #89ff00 0 2px 12px;
}
