.noUi-target {
  background: white;
  box-shadow: none;
  border: none;
}
.noUi-horizontal {
  height: 6px;
}

.noUi-handle:before,
.noUi-handle:after {
  display: none;
}
.noUi-handle {
  box-shadow: none;
  border-radius: 100%;
}
.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  top: -7px;
  right: -8px;
}

.range__block input[type="number"]::-webkit-inner-spin-button,
.range__block input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.min-quantity,
.max-quantity,
.min-year,
.max-year {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 10px;
  font-family: Neucha;
  text-align: center;
  font-size: 1.2rem;
  width: 4.5rem;
  height: 2rem;
  border-radius: 30px;
  margin: 0.2rem 0;
  background: radial-gradient(
    118.88% 606.86% at 0% 0%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(157, 243, 255, 0.2) 100%
  );
}

.slider-quantity,
.slider-year {
  width: 50%;
  margin: 0 1.5rem;
}

@media (max-width: 1100px) {
  .slider-quantity,
  .slider-year {
    width: 40%;
    margin: 0 1.5rem;
  }
}

@media (max-width: 840px) {
  .slider-quantity,
  .slider-year {
    width: 35%;
    margin: 0 1rem;
  }
}
