.tree-page {
  width: 100%;
  height: 82vh;
  min-height: 714px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-image: url("./assets/background.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.settings_tree_container {
  background: rgba(25, 47, 45, 0.6);
  display: flex;
  flex-direction: column;
  grid-column: span 1;
  padding: 1rem;
  padding-right: 0;
  height: 82vh;
  min-height: 714px;
}

.game_container{
  grid-column: span 2;
  height:82vh;
  min-height: 714px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  position: relative;
}

.toys_tree_container{
  grid-column: span 1;
  background: rgba(25, 47, 45, 0.6);
  height: 82vh;
  min-height: 714px;
  padding: 0 0.5rem 0 1rem;
  position: relative;
}

.tree-for-game {
  height: 714px;
}

@media (max-width: 840px){
  .tree-for-game {
    width: 90%;
  }
}


